<style>
  ._component_ {
    background: var(--black-20);
    margin: 0;
    padding: 5px;
    border-radius: 4px;
    border-bottom: 1px solid var(--black-20);
    flex-shrink: 0;
  }

  ._component_ > * {
    display: inline-flex;
    margin: 5px;
    line-height: 20px;
  }

  ._component_ > * > span:nth-child(1) {
    margin-right: 5px;
    flex-shrink: 0;
  }

  ._component_ .filterItem {
    background: var(--black-40);
    color: white;
    padding: 2px 8px;
    border-radius: 99px;
    display: inline-block;
  }

  ._component_ .filterItem + .filterItem {
    margin-left: 2px;
  }

  ._component_ .filterItem.active {
    background: var(--accent-color);
  }

  ._component_ .count {
    color: #aaa;
  }
</style>
<label>
  <span>Sort by</span>
  <span 
    data-bind="value=_component_.sortField"
    data-component="selector"
  >
    <span data-value="level">Level</span>
    <span data-value="name">Name</span>
    <span data-value="school">School</span>
  </span>
</label>
<label>
  <span>Levels</span>
  <span 
    data-min="0" 
    data-max="9" 
    data-component="range" 
    data-bind="value=filters.level-range"
  ></span>
</label>
<label class="stretchy">
  <span>Classes</span>
  <div>
    <span 
      class="filterItem" 
      data-list="casting-classes"
      data-bind="class(active)=.show;text=.name"
      data-event="mousedown:_component_.toggleShow"
    ></span>
  </div>
</label>
<span 
  title="filtered spell count"
  class="count" 
  data-bind="text=spells-filtered.length"
></span>
<script>
  b8r.component('./range');
  b8r.component('https://rawgit.com/tonioloewald/bindinator.js/master/components/selector');

  function toggleShow(evt, elt) {
    const path = b8r.getListInstancePath(elt);
    const showPath = `${path}.show`;
    b8r.set(showPath, ! b8r.get(showPath));
    applyFilters();
    return true;
  }

  b8r.set('filters', {'level-range': {min: 0, max: 9}});

  const sortFieldGetters = {
    name: spell => spell.name,
    level: spell => parseInt(spell.level, 10),
    school: spell => spell.school.name,
  }

  // workaround for a bug/design flaw in the select component (it triggers WAY too many change events)
  const applyFilters = b8r.debounce(() => {
    const path = component.dataset.path;
    const list = b8r.get(path) || [];
    const minLevel = b8r.get('filters.level-range.min');
    const maxLevel = b8r.get('filters.level-range.max');
    const castingClassess = b8r.get('casting-classes') || [];
    const displayClasses = castingClassess.filter(({show}) => show).map(({name}) => name);
    const filtered = list.filter(({level, classes}) => level >= minLevel && 
                                                       level <= maxLevel && 
                                                       classes.find(({name}) => displayClasses.includes(name)));
    const sortField = get('sortField');
    const sortFieldGetter = sortFieldGetters[sortField]
    filtered.sort((a, b) => b8r.sortAscending(sortFieldGetter(a), sortFieldGetter(b)));
    b8r.set(`${path}-filtered`, filtered);
  }, 10);

  set({sortField: 'level', applyFilters, toggleShow});

  applyFilters();

  on('change', '_component_.applyFilters');
</script>