<style>
  ._component_ {
    background: #ddd;
    margin: 0;
    padding: 10px;
    border-radius: 4px;
  }

  ._component_ .filterItem {
    background: #aaa;
    color: white;
    padding: 2px 8px;
    border-radius: 99px;
    display: inline-block;
    margin: 0 2px;
  }

  ._component_ .filterItem.active {
    background: royalblue;
  }
</style>
<label>
  Sort By
  <select 
    data-bind="value=_component_.sortField"
    data-event="change:_component_.applyFilters"
  >
    <option value="name">Name</option>
    <option value="level">Level</option>
  </select>
</label>
<label>
  Levels
  <div 
    data-min="0" 
    data-max="9" 
    data-component="range" 
    data-bind="value=filters.level-range"
    data-event="change:_component_.applyFilters"
  ></div>
</label>
<label>
  Classes
  <span 
    class="filterItem" 
    data-list="casting-classes" 
    data-bind="class(active)=.show;text=.name"
    data-event="click:_component_.toggleShow"
  ></span>
</label>
<script>
  b8r.component('./range');

  function toggleShow(evt, elt) {
    const path = b8r.getListInstancePath(elt);
    const showPath = `${path}.show`;
    b8r.set(showPath, ! b8r.get(showPath));
    applyFilters();
  }

  b8r.set('filters', {'level-range': {min: 0, max: 9}});

  function applyFilters() {
    const path = component.dataset.path;
    const list = b8r.get(path) || [];
    const minLevel = b8r.get('filters.level-range.min');
    const maxLevel = b8r.get('filters.level-range.max');
    const castingClassess = b8r.get('casting-classes') || [];
    const displayClasses = castingClassess.filter(({show}) => show).map(({name}) => name);
    const filtered = list.filter(({level, classes}) => level >= minLevel && 
                                                       level <= maxLevel && 
                                                       classes.find(({name}) => displayClasses.includes(name)));
    const sortField = get('sortField');
    filtered.sort((a, b) => b8r.sortAscending(a[sortField], b[sortField]));
    b8r.set(`${path}-filtered`, filtered);
  }

  set({sortField: 'name', applyFilters, toggleShow});

  applyFilters();
</script>